<footer role="contentinfo" class="footer">
  <div id="hubspot-form">
    <h3>Subscribe to updates</h3>
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <!--
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
      hbspt.forms.create({
        css: '',
        portalId: '408971',
        formId: 'ba88df7b-ff5b-4f61-81bc-8fcc3c598b1f'
      });
    </script>
  </div>
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small><a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium Theme</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
