.footer {
  font-family: $title-font-family;
  padding: 20px 0;
  border-top: 2px solid $line-breaks-color;
  color: $text-color;
  background-color: gainsboro;

  a {
    color: $text-color;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1;
  }

  small {
    font-size: 11px;
  }
}

#hubspot-form {
  margin: 0 auto;
  width: 300px;
}
